ul {
    list-style-type: none;
}
table, td, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}
.laptop-table {
    margin-top: 50px;
}
.gray {
    background-color: gray;
}
.sum {
color: red;
font-size: 20px;
}